<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text">
    <p>You can add a specific location here, if you know the coordinates.
      <br>Otherwise, just add a general address or location name to the Location field. examples: Astoria Oregon or Columbia River</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :Location %>
        <%= f.text_field :address %>
      </div>
    </div>

    <div class="col-md-2">
      <p>or add specific coordinates</p>
    </div>

    <div class="col-md-3">
      <div class="field">
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </div>

      <div class="field">
        <%= f.label :longitude %>
        <%= f.text_field :longitude %>
      </div>
    </div>

  </div>

  <p>Add a description of the day, tackle, weather, etc.</p>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :trip_date %>
    <%= f.date_select :trip_date %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>





  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
