<p id="notice"><%= notice %></p>
<div class="container">

  <div class="container post">
    <strong>Posted by:</strong>
    <h3><%= @post.name %></h3>
    <br>
  </div>


  <div class="title container post">
    Title:
    <strong><%= @post.title %></strong>
    <div class="container post">
      <p>
        <%= @post.content %>
      </p>
    </div>
  </div>




  <hr>


  <ul>
    <% @post.responses.each do |response|%>
      <% if response.id %>
      <li>
        "<%= response.name %>" -
        <%= response.content %>
        <% if current_user && current_user.admin %>
          <%= link_to "Delete response", post_response_path(@post, response), method: "delete" %>
        <% end %>
      </li>
      <hr>
      <% end%>
    <% end %>
  </ul>
  <%= render 'response_form', post: @post %>

  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
</div>
