<p id="notice"><%= notice %></p>
<div class="container">

  <p>
    <strong>Name:</strong>
    <%= @post.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <%= @post.content %>
  </p>
  <hr>

<%= render 'response_form', post: @post %>

  <ul>
    <% @post.responses.each do |response|%>
    <% if response.id %>
    <li>
      "<%= response.name%>" -
      <%= response.content%>
      <% if current_user && current_user.admin %>
        <%= link_to "Delete response", post_response_path(@post, response), method: "delete" %>
      <% end %>
    </li>
    <hr>
    <% end%>
    <% end %>
  </ul>

  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
</div>
